<ion-header>
  <ion-toolbar color="translucent">
    <ion-buttons slot="end" *ngIf="modalData.closeButton">
      <ion-button>
        <ion-icon slot="icon-only" name="close" (click)="handleTapCloseButton()"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col col-container-img>
            <img [src]="modalData.pathImage">
          </ion-col>
        </ion-row>
        <ion-row m-top-20 text-slider-screen>
          <ion-col padding>
            <h1 color="primary"> {{ modalData.title }} </h1>
            <p color="primary" text-justify>
              {{ modalData.textOne }}
            </p>
            <p text-justify *ngIf="modalData.hasOwnProperty('textTwo')">
              {{ modalData.textTwo }}
            </p>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!modalData.hasOwnProperty('buttonTwo')">
          <ion-col size="12">
            <ion-button [fill]="modalData.buttonOne.fill" [expand]="modalData.buttonOne.expand" [color]="modalData.buttonOne.color" (click)="handleTapButtonOne()">{{ modalData.buttonOne.text }}</ion-button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="modalData.hasOwnProperty('buttonTwo')">
          <ion-col size="6">
            <ion-button [fill]="modalData.buttonOne.fill" [expand]="modalData.buttonOne.expand" [color]="modalData.buttonOne.color" (click)="handleTapButtonOne()">{{ modalData.buttonOne.text }}</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button [fill]="modalData.buttonTwo.fill" [expand]="modalData.buttonTwo.expand" [color]="modalData.buttonTwo.color" (click)="handleTapButtonTwo()">{{ modalData.buttonTwo.text }}</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
