[full] {
    height: 100%;
}
[pad-background] {
    background-image: url('../../assets/imgs/pad-slides.png');
    background-repeat: no-repeat;
    background-size: cover;
}
[col-container-img] {
    text-align: center;
    img {
        max-width: 300px;
    }
}
/* Media querys */
@media (max-width: 340px) and (min-width: 100px) {
    [pad-background] {
        background: url('../../assets/imgs/pad-slides.png') no-repeat center center fixed;
    }
}
@media (max-width: 400px) and (max-height: 650px) {
    [col-container-img] {
        text-align: center;
        margin-top: 30%;
        img {
            max-width: 250px;
        }
    }
}
@media (min-width: 300px) and (min-height: 650px) {
    [col-container-img] {
        text-align: center;
        margin-top: 30%;
        img {
            max-width: 300px;
        }
    }
}