<ion-content>
  <ion-slides pager="true" [options]="{effect: 'cube'}" full pad-background>
    <ion-slide>
      <ion-grid>
        <ion-row>
            <ion-col col-container-img>
              <img src="assets/imgs/camion-1.png">
            </ion-col>
        </ion-row>
        <ion-row m-top-40 text-slider-screen>
          <ion-col>
            <h1 color="primary"> Bienvenido </h1>
            <p color="primary" > ¿ Quieres  tener opciones de carga siempre disponibles para transportar ? </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col col-container-img>
            <img src="assets/imgs/camion-2.png" >
          </ion-col>
        </ion-row>
        <ion-row m-top-40 text-slider-screen>
          <ion-col>
            <h1 color="primary"> Te ofrecemos </h1>
            <p color="primary">
              Una aplicación que te conecta con múltiples empresas, para que puedas aplicar, 
              ofertas y transportar
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col col-container-img>
            <img src="assets/imgs/money.png" >
          </ion-col>
        </ion-row>
        <ion-row text-slider-screen>
          <ion-col size="12">
            <h1 color="primary"> Aumenta tus ingresos </h1>
            <p color="primary">
              te ayudamos a aprovechar al máximo tú vehículo de manera ágil, sencilla y segura.
              Dándole la tranquilidad de estar asegurado en tus viajes.
            </p>
          </ion-col>
          <ion-col size="12" [ngStyle]="{'text-align': 'right'}">
            <ion-button fill="outline" color="primary" size="small"(click)="handleTapIGetIt()">
              <ion-icon slot="icon-only" name="share-alt"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
