<ion-header>
  <ion-toolbar>
    <ion-title text-center>Calificación del viaje</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="handleSlideDownRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div message-info *ngIf="!offersPerQualification.length" >
      <p><b>No existen ofertas disponibles</b></p>
  </div>
  <ion-list lines="none">
    <app-item-offer *ngFor="let offer of offersPerQualification" [itemOffer]="offer" [options]="itemOptions"></app-item-offer>
  </ion-list>
</ion-content>
