<ion-header>
  <ion-toolbar color="translucent">
    <ion-buttons slot="end">
      <ion-button (click)="handleTapCloseButton()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-slides pager="false" full #mySlider [options]="slideOptions">
    <ion-slide>
      <div class="container-contract">
        <h1>CONTRATO DE VINCULACION AL PAD-PARQUE AUTOMOTOR DISPONIBLE</h1>
        <p>

          Entre los suscritos, a saber por una parte, JHON JAIRO BUITRAGO SANCHEZ, mayor de edad, identificado con
          cédula de ciudadanía descrita al pie de su firma, quien actúa en nombre y representación de Centro Logístico
          FARO S.A.S, quien para los efectos del presente documento se denominara PAD-PARQUE AUTOMOTOR DISPONIBLE y por
          otra parte <b> {{ user.name }} </b> ,identificado(a) como aparece al firmar, quien para los efectos
          del presente documento se denominara EL SUSCRIPTOR, en relación del vehículo de placa {{ user.licensePlate }}, quien actúa
          en calidad de <b>Conductor</b> indicar si es conductor, propietario o poseedor), acuerdan celebrar el
          presente contrato de vinculación, el cual se regirá por las siguientes clausulas:
          PRIMERA.- OBJETO: El objeto del presente contrato de vinculación es la de transferir el uso y disfrute de
          todos aquellos servicios y beneficios que PAD-PARQUE AUTOMOTOR DISPONIBLE, en calidad de administradora de
          servicios conexos al transporte de carga por carretera, llegare a adquirir a favor de los titulares de la
          vinculación de la flota vehicular, que individual o colectivamente representan en cada caso, a cambio de la
          contraprestación económica que se estipule en los anexos del presente documento.

          El conjunto de servicios y beneficios adquiridos por PAD-PARQUE AUTOMOTOR DISPONIBLE, se trasladaran al
          SUSCRIPTOR con el fin de mejorar el desempeño de la estructura de costos del equipo destinado al servicio
          público de carga tal, y como se describe e identifica en los anexos del presente documento. Por lo anterior,
          se procurara la confirmación del consolidado de flotas con el fin de brindar al usuario del servicio público
          que lo requiera la información certificada y razonablemente actualizada de las tripulaciones y los vehículos,
          utilizando para ello los sistemas de información con que cuenta el PAD-PARQUE AUTOMOTOR DISPONIBLE y
          reservando aquella información que considere prudente no debe ser revelada por motivos de seguridad personal y
          material, todo con el fin de mejorar la participación del equipo en el giro ordinario de la prestación del
          servicio público de transporte de carga por carretera.

          El presente contrato no es incompatible con las relaciones comerciales o situaciones jurídicas como la
          vinculación o afiliación del equipo, pero EL SUSCRIPTOR podrá a su juicio excluir aquellas y preferir la
          presente, teniendo presente que la relación que surge con ocasión y por motivo del presente contrato de
          vinculación de ninguna manera implica una relación de subordinación o dependencia, cualquiera sea la
          denominación del equipo o su tripulante.

          Las personas jurídicas o naturales que mediante el presente contrato se suscriban al PAD-PARQUE AUTOMOTOR
          DISPONIBLE, no entregan el equipo para que sea administrado por ésta y su guarda, tutela, conservación y
          custodia se encuentran en cabeza de la persona que lo posee, tiene o del cual es propietario. En caso de
          alguna novedad o hecho extraño que afecte la posesión, tenencia o propiedad del bien, EL SUSCRIPTOR deberá
          informar, dentro de las 72 horas siguientes a la situación que dio origen a la novedad para que el PAD-PARQUE
          AUTOMOTOR DISPONIBLE, de considerarlo conveniente u oportuno, brinde el respaldo que EL SUSCRIPTOR requiere o
          transmita a éste por cualquier medio las instrucciones que oportunamente y razonablemente considere compartir
          o aconsejar.

          SEGUNDA.- IDENTIFICACIÓN DEL EQUIPO: El equipo que por medio del presente contrato se suscribe a PAD-PARQUE
          AUTOMOTOR DISPONIBLE, se encuentra identificado en la primera página del presente documento. Cualquier cambio
          o modificación de los sistemas de identificación o tripulaciones vinculadas al mismo, deberá notificarse al
          PAD-PARQUE AUTOMOTOR DISPONIBLE, dentro de las 48 horas siguientes de haber conocido la novedad. Esto con el
          fin de que las certificaciones que por cualquier medio expida el PAD-PARQUE AUTOMOTOR DISPONIBLE, correspondan
          a la realidad y a elementos ciertos y seguros.

          TERCERA. - PLAZO: El término de duración del presente contrato será de un (1) año, contando a partir de la
          fecha en que las partes lo firman. Este contrato se prorroga automáticamente por el mismo término y se
          mantendrá su exigibilidad respecto a los contratantes; salvo el caso de que cualquiera de las partes considere
          apartarse, situación en la cual, la parte que decida apartarse notificara por escrito a la otra su intención
          de retirarse con antelación no inferior a treinta (30) días a la fecha de su terminación.
          CUARTA. - OBLIGACIONES A CARGO DEL SUSCRIPTOR: EL SUSCRIPTOR se obliga en particular a desplegar las
          siguientes conductas y asumir los siguientes compromisos:
          Mantener el equipo beneficiario de la vinculación en óptimo estado de funcionamiento, hecho que se entenderá
          cumplido con el envío de una copia de las revisiones técnico mecánicas de manera anual o semestral según sea
          el caso.
          Adquirir los servicios otorgados por el PAD-PARQUE AUTOMOTOR DISPONIBLE, en beneficio propio.
          Comunicar a PAD-PARQUE AUTOMOTOR DISPONIBLE, todo hecho o novedad que afecte de cualquier forma al equipo
          identificado bajo el presente contrato.
          Portar en debida forma y dar buen uso a los elementos y bienes de identificación y control característicos del
          PAD-PARQUE AUTOMOTOR DISPONIBLE y todos aquellos que para el mejoramiento de los servicios sea necesario
          recibir, mantener o conservar.
          Suscribir cuando PAD-PARQUE AUTOMOTOR DISPONIBLE, así lo indique las adiciones y documentación requerida
          tendiente a utilizar, mejorar y actualizar los servicios materia de la vinculación.
          En todo caso el SUSCRIPTOR deberá mantener vigente en todo momento, el cumplimiento de las obligaciones
          laborales y seguridad social respecto de aquellas personas o tripulación que EL SUSCRIPTOR contrate para que
          opere el equipo beneficiario, quienes deberán estar legalmente autorizados para la conducción y operación del
          equipo que recibirá los beneficios, y con quienes no existirá por parte de PAD-PARQUE AUTOMOTOR DISPONIBLE,
          relación o vínculo laboral alguno.
          Informar el nombre de la persona o tripulación que contrate para la operación del equipo beneficiario,
          diligenciado correctamente la información que PAD-PARQUE AUTOMOTOR DISPONIBLE solicite con el fin de mantener
          un nivel adecuado en la presentación de los servicios certificados.
          Responder por la operación del equipo, impuestos, multas, tasas y contribuciones que sean causadas en
          desarrollo y por la operación del equipo beneficiario ante cualquier autoridad y de cualquier nivel u orden.
          Tramitar y obtener todos aquellos documentos necesarios para la operación del equipo y responder por la
          veracidad de la información de los mismos.
          Mantener en buenas condiciones de uso y presentación el equipo beneficiario, procurando un oportuno y completo
          mantenimiento, condiciones que no serán inspeccionadas por el PAD-PARQUE AUTOMOTOR DISPONIBLE, pero que se
          reserva adelantar con el fin de mejorar la imagen corporativa de la flota conformada.
          En caso de hurtos, saqueos, transportes de sustancias prohibidas, ejercicio de contrabando o cualquier otro
          hecho tipificable bajo la ley de la pena Colombiana, EL SUSCRIPTOR responderá antes las respectivas
          autoridades y mantendrá indemne al PAD-PARQUE AUTOMOTOR DISPONIBLE por todo concepto, en todo caso, y en el
          evento de que PAD-PARQUE AUTOMOTOR DISPONIBLE, considere que debe adelantar cualquier acción o actividad
          tendiente a reducir los efectos, contingencias negativas de una situación, EL SUSCRIPTOR reembolsará los
          gastos en que está incurra para su representación.
          El titular del equipo beneficiario se obliga a la devolución de los elementos de seguridad y control que haya
          recibido con ocasión del presente contrato, en un término no mayor a (30) días, so pena de incurrir en
          sanciones que para tal fin hayan acordado las partes.
          En general actuar de buena fe en todos los actos y las relaciones que subsisten en el cumplimiento y ejecución
          del presente contrato en el cual es exclusivo al equipo beneficiario y al núcleo de las personas referidas en
          el presente documento.
          QUINTA.- OBLIGACIONES A CARGO DEL PAD-PARQUE AUTOMOTOR DISPONIBLE:
          Suministrar los medios, directrices, información e instrucciones necesarios para el cumplimiento del presente
          contrato.
          Atender todas las actividades de coordinación con sus proveedores. En el evento en que se llegue a presentar
          algún inconveniente o reclamación, podrá requerir a EL SUSCRIPTOR para que suministre la información que
          considere pertinente para resolver la situación.
          En virtud de la dirección que ejerce el PAD-PARQUE AUTOMOTOR DISPONIBLE sobre el presente contrato y si a su
          juicio, EL SUSCRIPTOR da uso irracional,ilegal o inconveniente a aquellos beneficios que transfiere de manera
          exclusiva, PAD-PARQUE AUTOMOTOR DISPONIBLE mediante comunicación motivada podrá dar por terminado
          unilateralmente el presente contrato cuando a juicio de sus administradores el incumplimiento del presente
          contrato puede causar cualquier tipo de perjuicio, ya sea en la organización de la flota de vehículos que se
          conforma o en la buena marcha de los servicios.
          En general actuar de buena fe en todos los actos y relaciones que se presenten en el cumplimiento y ejecución
          del presente contrato.
          SEXTA.- RESPONSABILIDAD DEL PAD-PARQUE AUTOMOTOR DISPONIBLE: En ningún caso PAD-PARQUE AUTOMOTOR DISPONIBLE ni
          sus proveedores serán responsables si EL SUSCRIPTOR no lograré los beneficios, las utilidades o las ventajas
          que él deseaba obtener a partir de la suscripción objeto de este contrato. En el evento de presentarse alguna
          demanda contra el PAD-PARQUE AUTOMOTOR DISPONIBLE en relación con el cumplimiento de cualquiera de las
          obligaciones contraídas en el presente contrato, la indemnización por daños y perjuicios a la que EL
          SUSCRIPTOR tendrá derecho, estará sujeta a las siguientes condiciones:
          El tipo o carácter de los daños se limitara a los daños reales comprobados que sean directamente imputables al
          PAD-PARQUE AUTOMOTOR DISPONIBLE, pero sin incluir el lucro cesante u otros daños indirectos o cualquier otra
          demanda contra la vinculación que establezca una tercera parte.
          La responsabilidad total del PAD-PARQUE AUTOMOTOR DISPONIBLE por los daños precedentes, respecto del
          suscriptor por cualquier tipo de causa e independientemente de la forma de acción judicial, habrá de limitarse
          al valor de las mensualidades pagadas por el suscriptor en un periodo máximo de doce (12) meses.
          SEPTIMA.- CAUSALES DE TERMINANCION DEL PRESENTE CONTRATO:
          Por el incumplimiento grave de las obligaciones a cargo del SUSCRIPTOR.
          Por no allegarse los documentos necesarios para la actualización de la información concerniente al equipo
          beneficiario, que no corresponde a la verdad o serias evidencias que la hagan inconsistente.
          Por disolución o liquidación del PAD-PARQUE AUTOMOTOR DISPONIBLE, evento en el cual, las partes de la Alianza
          avisarán oportunamente la ocurrencia del hecho, con el fin que se adopten las medidas correspondientes.
          Destrucción del equipo beneficiario.
          Expiración del contrato en la forma y modo previsto en el presente acuerdo.
          Unilateralmente dentro del término inicial o de sus prorrogas mediante preaviso escrito entregado a la otra
          parte con treinta (30) días de anticipación a la fecha de terminación del contrato.
          OCTAVA.- CESIÓN: el titular del equipo beneficiario acepta con la firma del presente contrato toda cesión que
          PAD-PARQUE AUTOMOTOR DISPONIBLE haga del presente, sus anexos y sus prorrogas con un tercero, sustituyéndolo
          en todas sus obligaciones y derechos, lo cual deberá ser informado al SUSCRIPTOR.

          NOVENA.- HABEAS DATA: En cumplimiento de la Ley 1581 de 2012, el SUSCRIPTOR en nombre propio, autoriza al
          PAD-PARQUE AUTOMOTOR DISPONIBLE para el tratamiento, manejo y administración de sus datos personales en las
          bases de datos de las sociedades comerciales que componen la Alianza y en bases de datos de terceros para los
          fines y en cumplimiento del presente contrato. La autorización anterior no impedirá al suscriptor de ejercer
          el derecho a corroborar en cualquier tiempo en el PAD-PARQUE AUTOMOTOR DISPONIBLE, o en la central de
          información a la cual se hayan suministrado los datos, que la información suministrada es veraz, completa,
          exacta y actualizada, y en caso de que no lo sea, a que se deje constancia de su desacuerdo, a exigir la
          rectificación y a ser informado sobre las correcciones efectuadas.

          DECIMA.- CLAUSULA COMPROMISORIA: Las partes intervinientes acuerdan que toda controversia, diferencia o
          reclamación resultante de la ejecución, interpretación y terminación del presente contrato o relacionado con
          el directamente, será sometido a un trámite de conciliación en el centro de conciliación habilitado y
          debidamente aprobado por el centro de justicia a solicitud de cualquiera de las partes.
          UNDECIMA.- PERFECCIONAMIENTO: el presente contrato se entiende perfeccionado con la firma de las partes.
        </p>
        <h1> ANEXO 1. BENEFICIOS ALCANCE DEL SERVICIO CENTRAL PAD PARA SUS VEHICULOS </h1>
        <p>
          - Reducir tiempos muertos por falta de mercancía.
        </p>
        <p>
          - Minimizar viajes vacíos disminuyendo el costo por pago de peajes y viáticos.
        </p>
        <p>
          - Reconocimiento en empresas de transporte, generadores de carga y operadores logísticos.
        </p>
        <p>
          - Por cada viaje realizado podrá obtener puntos y ser redimidos en ofertas promocionales que
            entregará el PAD como (Restaurantes, Hoteles, Estaciones de Servicio, Pólizas de Seguros,
            SOAT entre muchos más).
        </p>  
        <p>
          - Los puntos únicamente serán cargados al estado de tu cuenta.
        </p>
        <p>
          - Podrá obtener beneficios por la referenciación de otros Transportistas.
        </p>
        <h1> Alcance del servicio </h1>
        <p>
          - La vinculación o afiliación al servicio Central PAD no tiene costo.
        </p>
        <p>
          - El costo que deberá pagar por el servicio Central PAD será el valor acordado una vez se haya
            confirmado el viaje y no será mayor a ($20.000).
        </p>
        <p>
          - El servicio Central PAD además de la disponibilidad de ofertas de carga, incluye en cada viaje
            beneficios como: Asistencia en carretera, asistencia vehicular en siniestros de panorámicos,
            asistencia odontológica, SOAT, entre otros.
        </p>
        <p>
          - El valor deberá ser cancelado a la Cuenta Corriente Bancolombia No 052 00010076 a nombre
            de Centro Logístico Faro S.A.S.
        </p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="container-firm">
        <h3 [ngStyle]="{'margin-top': '50px'}" text-justify> Firme en el recuadro de abajo y de click en acepto, para
          aceptar el contrato de vinculación </h3>
        <div contentSignature content-flex-center [ngStyle]="{'margin-top': '25px'}">
          <div *ngIf="sides[0]?.pathImage == ''">
            <signature-pad [options]="signaturePadOptions" (onBeginEvent)="handleStartDraw()"
              (onEndEvent)="handleDrawComplete()"></signature-pad>
            <div>
              <ion-button slot="icon-only" color="danger" (click)="handleTapClearSignature()">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </div>
          </div>
          <div *ngIf="sides[0]?.pathImage != ''">
            <ion-thumbnail>
              <ion-img [src]="sides[0]?.pathImage"></ion-img>
            </ion-thumbnail>
            <div>
              <ion-button slot="icon-only" color="danger" (click)="handleTapClearImage()">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer>
  <ion-button *ngIf="!shouldDisableNextButton" color="primary" expand="block" (click)="next()">SIGUIENTE</ion-button>
  <ion-button *ngIf="shouldDisableNextButton" color="secondary" expand="block" (click)="confirm()">ACEPTO</ion-button>
</ion-footer>