[img-profile] {
    height: 128px;
    width: 128px;
    border-radius: 50%;
}

[container-content-center] {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

[icon-md] {
    font-size: 64px;
}

[border-bottom] {
    border-bottom: 1px solid var(--ion-color-medium-tint);
}

.cointainer-quantity {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.container-star-badge {
    width: 35px;
    height: auto;
    position: relative;
    padding: 2px;
}

[corner-location] {
    position: absolute;
    top: 1px;
    right: 1px;
}

[big-icon] {
    font-size: 32px !important;
}
