ion-item {
    border-top: 5px solid var(--ion-color-secondary);
    background-color: #f9f9f9 !important;
}

ion-avatar {
    width: 60px;
    height: 60px;
}

[spacing-left] {
    margin-left: 10px;
}