<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div container-full container-center-content container-padding-2-full-p>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img logo src="assets/imgs/opc-2.png" />
        </ion-col>
      </ion-row>
      <form [formGroup]="reactiveForm">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Nombre de usuario</ion-label>
              <ion-input type="text" name="username" formControlName="username" clearInput required></ion-input>
            </ion-item>
            <small errorText *ngIf="reactiveForm.get('username').invalid && 
                                    reactiveForm.get('username').touched">
              * Este campo no puede estar vacio
            </small>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input [type]="inputTypePassword" name="password" formControlName="password" required></ion-input>
              <ion-button slot="end" fill="clear" color="medium" (click)="handleTapIconPassword()">
                <ion-icon slot="icon-only" [name]="iconTypePassword"></ion-icon>
              </ion-button>
            </ion-item>
            <small errorText *ngIf="reactiveForm.get('password').invalid &&
                                    reactiveForm.get('username').touched">
              * Este campo no puede estar vacio
            </small>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button color="secondary" expand="block"  (click)="handleTapButtonLogin()" [disabled]="reactiveForm.invalid" >
              Iniciar Sesión
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
      <ion-row>
        <ion-col>
          <div text-center>
            <ion-row>
              <ion-col>
                <p>Olvide mi contraseña</p>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
