ion-badge {
    display: flex !important;
    width: 15px !important;
    height: 15px !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 12px !important;
    border-radius: 5px;
}