<ion-tabs>
  <ion-tab-bar slot="buttom" color="primary">
    <ion-tab-button tap="offers">
      <ion-icon name="pricetags"></ion-icon>
      <ion-label>Ofertas</ion-label>
      <ion-badge color="secondary">6</ion-badge>
    </ion-tab-button>
    <ion-tab-button >
      <ion-icon name="list"></ion-icon>
      <ion-label>Mis ofertas</ion-label>
      <ion-badge color="secondary">9</ion-badge>
    </ion-tab-button>
    <ion-tab-button >
      <ion-icon name="archive"></ion-icon>
      <ion-label>Archivadas</ion-label>
      <ion-badge color="secondary">2</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>