<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>Realizar Pago</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="handleTapCloseButton()">
        <ion-icon slot="icon-only" name="close" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="container-detail-pay">
    <div class="header-divider">
      <span>Detalle del pago</span>
    </div>
    <div class="body-wrapper">
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <span bold>Origen: </span>
          </ion-col>
          <ion-col size="8">
            <span>BOGOTÁ D.C</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <span bold>Destino: </span>
          </ion-col>
          <ion-col size="8">
            <span>MEDELLIN</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <span bold>Valor Cobro: </span>
          </ion-col>
          <ion-col size="8">
            <span>{{ '20000' | currency:'$' }}</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-icon name="alert" color="secondary"></ion-icon> <i>El valor del cobro corresponde al valor del servicio.</i>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
