[main-button] {
    width: 150px;
    height: 45px;
    border-radius: 10px !important;
}
[row-padding-main] {
    padding-left: 5%;
    padding-right: 5%;
}
[row-margin-main] {
    margin-top: 10%;
}