<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
          <img src="assets/imgs/main-background.png" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <h2>Bienvenido a PAD móvil</h2>
      </ion-col>
    </ion-row>
    <ion-row row-padding-main row-margin-main>
        <ion-col size="6" text-center>
          <ion-button main-button fill="clear" (click)="handleBtnLogin()">Iniciar Sesión</ion-button>
        </ion-col>
        <ion-col size="6" text-center>
          <ion-button main-button color="secondary" (click)="handleBtnRegister()">Registrarme</ion-button>
        </ion-col>
      </ion-row>
  </ion-grid>
  <!-- <app-item-offer></app-item-offer> -->
</ion-content>
