<ion-header>
  <ion-toolbar color="translucent">
    <ion-buttons slot="end">
      <ion-button (click)="handleTapCloseButton()">
        <ion-icon slot="icon-only" name="close" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div text-center>
    <img src="assets/imgs/lock.png" width="150">
  </div>
  <div [ngStyle]="{'margin-top':'10%', 'text-align':'center'}">
    <h2>Cambio de contraseña</h2>
    <hr>
    <form [formGroup]="reactiveForm">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Usuario</ion-label>
              <ion-input type="text" name="username" formControlName="username"></ion-input>
            </ion-item>
          </ion-col>  
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Contraseña nueva</ion-label>
              <ion-input [type]="behaviorPasswords.controlTypeNewPassword" name="newPassword" formControlName="newPassword"></ion-input>
              <ion-button fill="clear" slot="end" (click)="handleViewPassword(false)">
                <ion-icon [name]="behaviorPasswords.iconNewPassword" style="font-size: 18px;color: lightgray;margin-top: 10px;"> </ion-icon>
              </ion-button>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Contraseña nueva <small>( Repetir )</small></ion-label>
              <ion-input [type]="behaviorPasswords.controlTypeNewPasswordRepeat" name="newPasswordRepeat" formControlName="newPasswordRepeat"></ion-input>
              <ion-button fill="clear" slot="end" (click)="handleViewPassword(true)">
                <ion-icon [name]="behaviorPasswords.iconNewPasswordRepeat" style="font-size: 18px;color: lightgray;margin-top: 10px;"> </ion-icon>
              </ion-button>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Pregunta de seguridad</ion-label>
              <ion-select [value]="user.question" name="securityQuestion" formControlName="securityQuestion" placeholder="Seleccione uno">
                <ion-select-option *ngFor="let question of questions" [value]="question.id">{{ question.name }}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Respuesta</ion-label>
              <ion-textarea name="answerQuestion" formControlName="answerQuestion" row="5">
              </ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
<ion-footer>
  <ion-button expand="block" color="secondary" [disabled]="reactiveForm.invalid" (click)="handleClickChangePassword()">
    CAMBIAR
  </ion-button>
</ion-footer>
