// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

/* Margenes */
[m-top-20] {
    margin-top: 20px;
}
[m-top-40] {
    margin-top: 40px;
}
[m-top-50] {
    margin-top: 50px;
}
[m-top-10-p] {
    margin-top: 25%;
}
[m-top-20-p] {
    margin-top: 25%;
}
/* Textos */
[text-slider-screen] {
    font-size: 20px;
}
/* slides */
.swiper-pagination-bullet {
    background-color: rgb(87, 87, 87);
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #000;
}
/* Container full */
[container-full] {
    height: 100%;
}
[container-padding-10-full] {
    padding: 10px;
}
[container-padding-20-full] {
    padding: 20px;
}
[container-padding-5-full-p] {
    padding: 5%;
}
[container-padding-2-full-p] {
    padding: 2%;
}
[container-center-content] {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* medias querys */
@media (max-width: 400px) and (min-width: 100px) {
    [text-slider-screen] {
        font-size: 15px;
    }
}
@media (max-width: 400px) and (max-height: 650px) {
    [text-slider-screen] {
        font-size: 15px;
    }
    [m-top-40] {
        margin-top: 20px;
    }
}
[errorText] {
    color: var(--ion-color-danger);
    opacity: 0.6;
    padding: 2px;
}

