// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

/* Margenes */
[m-top-20] {
    margin-top: 20px;
}
[m-top-40] {
    margin-top: 40px;
}
[m-top-50] {
    margin-top: 50px;
}
/* Textos */
[text-slider-screen] {
    font-size: 20px;
}
/* slides */
.swiper-pagination-bullet {
    background-color: rgb(87, 87, 87);
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #000;
}

/* medias querys */
@media (max-width: 400px) and (min-width: 100px) {
    [text-slider-screen] {
        font-size: 15px;
    }
}
@media (max-width: 400px) and (max-height: 650px) {
    [text-slider-screen] {
        font-size: 15px;
    }
    [m-top-40] {
        margin-top: 20px;
    }
}


