<ion-header>
  <ion-toolbar>
    <ion-title text-center>Ofertas Disponibles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content force-overscroll="true">
  <ion-refresher slot="fixed" *ngIf="enabledRefresh" (ionRefresh)="handleSlideDownRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <app-card-plate>
    OFG286
  </app-card-plate>
  <div container-scroll (scroll)="handleScroll($event)">
      <div message-info *ngIf="!items.length" >
          <p><b>No existen ofertas disponibles</b></p>
      </div>
    <ion-list lines="none">
      <app-item-offer *ngFor="let item of items" [itemOffer]="item" ></app-item-offer>
    </ion-list>
  </div>
</ion-content>
