<ion-header>
  <ion-toolbar>
    <ion-title text-center>Ofertas Disponibles</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content force-overscroll="true">
  <ion-refresher slot="fixed" *ngIf="enabledRefresh" (ionRefresh)="handleSlideDownRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <app-card-plate (click)="handleClickLicensePlate()">
    {{ user?.licensePlate | uppercase }}
  </app-card-plate>
  <div container-scroll (scroll)="handleScroll($event)">
      <div message-info *ngIf="!offers.length" >
          <p><b>No existen ofertas disponibles</b></p>
      </div>
    <ion-list lines="none">
      <app-item-offer *ngFor="let offer of offers" [itemOffer]="offer" [options]="itemOptions"></app-item-offer>
    </ion-list>
  </div>
</ion-content>
